.flex-item { 
background: lightcyan;
min-width: 50px;
min-height:50px;
border: 2px solid pink; 
}

.flex-container {
display: flex;
justify-content:space-around ;
align-items: center ;

border: 2px solid aliceblue;
height: 200px; 
}

.flex-containe-col {
display: flex;
flex-direction: colum;
justify-content: space-around;
align-items: center;


border: 2px solid aliceblue;
height: 300px;

